---
import {Image} from "astro:assets";
const props = Astro.props

import "../styles/biobutton.scss";

---

<a href={props.link} class="bio-button" title={props.alt}>

    <Image
            src={props.image}
            alt={props.alt}
            width="32"
            height="32"
            class="button-thumbnail"
    />

    <div class="box">
        <p class="title"> {props.title} </p>
    </div>
</a>